---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #31261D;
  background-image: linear-gradient(120deg, #31261D, #002D72);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #002D72;
}

a.active {
  color: black;
  font-weight: bold;
  cursor: default;
}
